<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
	<head>
		<div th:replace="fragments/header :: head"></div>
		<title>Textbox Demo</title>
	</head>
	<body>
		<!-- Navbar -->
		<div th:replace="fragments/body :: navbar"></div>

		<div class="header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
			<h1 class="display-4">Textbox/Posting Demo</h1>
			<br>
			<p class="lead">WIP demo of the textbox that will be responsible for posting to our forum.</p>
		</div>

		<h1 style="color:white">Post Questions/Answers Here</h1>
		<div id = "postdiv">
			<p id="postarea" style = "color:gray">This is the beginning of your post</p>
		</div>
		<textarea id="TextBox" style ="width:400px"></textarea>
		<br>
		<button onclick='post()' style="color:gray">Post</button>

		<script>
			var posts = 1;
			var para = document.createElement("p");
			var node = document.createTextNode("This is new.");
			para.appendChild(node);
			var element = document.getElementById("postdiv");
			element.appendChild(para);

			function post(){
				const txtarea = document.getElementById("TextBox");
				var para = document.createElement("p");
				var node = document.createTextNode(txtarea.value);
				para.appendChild(node);
				var element = document.getElementById("postdiv");
				element.appendChild(para);
				var button = document.createElement("button");
				button.innerHTML = "Delete";
				element.appendChild(button);
				button.onclick = function(){ para.remove();
					button.remove();
					button1.remove();

				};

				var button1 = document.createElement("button");
				button1.innerHTML = "Reply";
				element.appendChild(button1);
				//document.getElementById("postarea").innerHTML = document.getElementById("postarea").innerHTML+ "<br>" + txtarea.value ;
				txtarea.value = "";

			}

		</script>

		<!-- Bootstrap & JQuery JS -->
		<div th:replace="fragments/body :: scripts"></div>
	</body>
</html>