<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
	<head>
		<div th:replace="fragments/header :: head"></div>
		<title>Upvote Demo</title>
	</head>
	<body>
		<!-- Navbar -->
		<div th:replace="fragments/body :: navbar"></div>

		<div class="header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
			<h1 class="display-4">Upvote Demo</h1>
			<br>
			<p class="lead">Heavy WIP</p>
		</div>

		<img src="content/upvote.png" width="40" height="40" alt="UPVOTE">

		<!-- Bootstrap & JQuery JS -->
		<div th:replace="fragments/body :: scripts"></div>
	</body>
</html>